body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #202020;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: normal;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

main {
    width: 60%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
}

.text {
    text-align: justify;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.image {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.image img {
    max-width: 100%;
    height: auto;
}

.image p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

/* Kājenes teksts */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    background-color: #202020;
    color: #fff;
}

/* Atbildīgais dizains */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px;
        
    }


}