#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 5px;
    background-color: black;
}
#main-container > div { /* ernebjhvfjfj */
    border-radius: 3px;
    border: 1px solid black;

}

#item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
}
#item2 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: pink;
}
#item3 {
    background-color: yellow;
}
#item4 {
    background-color: orange;
}
#item5 {
    background-color: brown;
}
#item6 {
    background-color: green;
}
#item7 {
    background-color: violet;
}
#item8 {
    background-color: blue;
}
#item9 {
    background-color:red;
}